@*@page "/"*@
@page "/page/home"
@layout HomeLayout

<section id="billboard">
			<div class="button-container">
				<button class="prev slick-arrow"><i class="icon mb-2 mr-1 icon-angle-left"></i></button>
				<button class="next slick-arrow"><i class="icon mb-2 mr-1 icon-angle-right"></i></button>
			</div>
			<div class="slider">
				<div class="slider-item">
					<div class="container">
						<div class="row">
							<div class="text-content light offset-md-5">
							<h2><strong class="colored">El trabajo duro</strong> es la base de todo éxito</h2>
							<p><em>Comience por inspirarse, continúe para dar inspiración</em></p>

								<div class="pix_btn">
									<a href="#" class="hvr-shutter-in-horizontal mt-3">Comenzar</a>
								</div>
							</div><!--text-content-->
						</div>
					</div>
				</div><!--slider-item-->

				<div class="slider-item">
					<div class="container">
						<div class="row">
							<div class="text-content light offset-md-5">
						<h2><strong class="colored">El trabajo duro</strong> es la base de todo éxito</h2>
						<p><em>Comience por inspirarse, continúe para dar inspiración</em></p>

								<div class="pix_btn">
							<a href="#" class="hvr-shutter-in-horizontal mt-3">Comenzar</a>
								</div>
							</div><!--text-content-->
						</div>
					</div>
				</div><!--slider-item-->

				<div class="slider-item">
					<div class="container">
						<div class="row">
							<div class="text-content light offset-md-5">
						<h2><strong class="colored">El trabajo duro</strong> es la base de todo éxito</h2>
						<p><em>Comience por inspirarse, continúe para dar inspiración</em></p>

								<div class="pix_btn">
							<a href="#" class="hvr-shutter-in-horizontal mt-3">Comenzar</a>
								</div>
							</div><!--text-content-->
						</div>
					</div>
				</div><!--slider-item-->
			</div>
		</section><!----#billboard----->

<section class="about-us padding-medium bg-sand">
	<div class="container">
		<div class="row">
			<div class="section-header text-center">
				<h2 class="section-title pb-4">Nosotros</h2>
				<p>Somos un gimnasio comprometido con tu bienestar y salud. En nuestra búsqueda de excelencia, ofrecemos un espacio dedicado a transformar tu experiencia fitness. Nos enorgullece destacar algunos aspectos clave que hacen de nosotros tu elección ideal.</p>
			</div>

			<div class="iconbox-wrapper d-flex pt-4 p-sm-3">
				<!-- Entrenadores Profesionales -->
				<div class="iconbox col-md-4 text-center bg-white p-40 mb-3">
					<div class="iconbox-icon mb-3">
						<i class="icon icon-group"></i>
					</div>
					<div class="iconbox-content">
						<h3 class="colored">Entrenadores Profesionales</h3>
						<p>Nuestro equipo de entrenadores está formado por profesionales altamente cualificados y dedicados a ayudarte a alcanzar tus metas fitness. Trabajamos contigo de manera personalizada, brindando el apoyo necesario en cada paso de tu viaje de acondicionamiento físico.</p>
					</div>
				</div><!--iconbox-->
				<!-- Precio Accesible -->
				<div class="iconbox col-md-4 text-center bg-white p-40 mrl-3 mb-3">
					<div class="iconbox-icon mb-3">
						<i class="icon icon-price-tags"></i>
					</div>
					<div class="iconbox-content">
						<h3 class="colored">Precio Accesible</h3>
						<p>Entendemos que la salud no debería tener un precio prohibitivo. Ofrecemos planes de membresía asequibles que se adaptan a tu presupuesto. Creemos en hacer que el fitness sea accesible para todos, para que puedas priorizar tu bienestar sin preocupaciones financieras.</p>
					</div>
				</div><!--iconbox-->
				<!-- Equipos Modernos -->
				<div class="iconbox col-md-4 text-center bg-white p-40 mb-3">
					<div class="iconbox-icon mb-3">
						<i class="icon icon-dumble"></i>
					</div>
					<div class="iconbox-content">
						<h3 class="colored">Equipos Modernos</h3>
						<p>Nuestra instalación cuenta con equipos de última generación para optimizar tu experiencia de entrenamiento. Desde máquinas cardiovasculares hasta equipos de fuerza, te proporcionamos las herramientas necesarias para lograr tus objetivos fitness de manera efectiva y eficiente.</p>
					</div>
				</div><!--iconbox-->
			</div><!--iconbox-wrapper-->
		</div>
	</div>
</section>

<section class="services">
	<!-- Body Building -->
	<div class="workout-box front-dark col-md-6 p-0">
		<img src="assets/images/bodybuilding.jpg" alt="bodybuilding" class="fitnessImg">
		<div class="text-content light">
			<h3 class="colored">Body Building</h3>
			<p>Descubre el mundo del culturismo con nuestros entrenamientos especializados. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<div class="pix_btn">
				<a href="#" class="btn btn-effects">
					<svg>
						<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
					</svg>
					Leer más
					<i class="icon icon-arrow-thin-right hvr-icon"></i>
				</a>
			</div>
		</div><!--text-content-->
	</div><!--workout-box-->
	<!-- Cardio -->
	<div class="workout-box front-dark col-md-6 p-0">
		<img src="assets/images/cardio.jpg" alt="cardio" class="fitnessImg">
		<div class="text-content light">
			<h3 class="colored">Cardio</h3>
			<p>Mejora tu resistencia cardiovascular y quema calorías con nuestras sesiones de cardio. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<div class="pix_btn">
				<a href="#" class="btn btn-effects">
					<svg>
						<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
					</svg>
					Leer más
					<i class="icon icon-arrow-thin-right hvr-icon"></i>
				</a>
			</div>
		</div><!--text-content-->
	</div><!--workout-box-->
	<!-- Fitness -->
	<div class="workout-box front-dark col-md-6 p-0">
		<img src="assets/images/fitness.jpg" alt="fitness" class="fitnessImg">
		<div class="text-content light">
			<h3 class="colored">Fitness</h3>
			<p>Encuentra el equilibrio perfecto entre fuerza y flexibilidad con nuestras clases de fitness. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<div class="pix_btn">
				<a href="#" class="btn btn-effects">
					<svg>
						<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
					</svg>
					Leer más
					<i class="icon icon-arrow-thin-right hvr-icon"></i>
				</a>
			</div>
		</div><!--text-content-->
	</div><!--workout-box-->
	<!-- Crossfit -->
	<div class="workout-box front-dark col-md-6 p-0">
		<img src="assets/images/crossfit.jpg" alt="crossfit" class="fitnessImg">
		<div class="text-content light">
			<h3 class="colored">Crossfit</h3>
			<p>Experimenta la intensidad y diversidad del Crossfit con nuestras sesiones especializadas. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<div class="pix_btn">
				<a href="#" class="btn btn-effects">
					<svg>
						<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
					</svg>
					Leer más
					<i class="icon icon-arrow-thin-right hvr-icon"></i>
				</a>
			</div>
		</div><!--text-content-->
	</div><!--workout-box-->
</section>

<section class="our-achievements padding-medium">
	<div class="section-header text-center">
		<h2 class="section-title pb-4">Nuestros Logros</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="flex-container">
				<!-- Cursos de Entrenamiento -->
				<div class="achievement-box mb-3">
					<div class="tracker mb-4">
						<span class="number">19</span>
					</div>
					<div class="iconbox-content text-center">
						<i class="icon icon-suitcase"></i>
						<h4>Cursos de Entrenamiento</h4>
					</div><!--iconbox-->
				</div><!--achievement-box-->
				<!-- Horas de Trabajo -->
				<div class="achievement-box mb-3">
					<div class="tracker mb-4">
						<span class="number">879</span>
					</div>
					<div class="iconbox-content text-center">
						<i class="icon icon-clock2"></i>
						<h4>Horas de Trabajo</h4>
					</div><!--iconbox-->
				</div><!--achievement-box-->
				<!-- Clientes Satisfechos -->
				<div class="achievement-box mb-3">
					<div class="tracker mb-4">
						<span class="number">150</span>
					</div>
					<div class="iconbox-content text-center">
						<i class="icon icon-users"></i>
						<h4>Clientes Satisfechos</h4>
					</div><!--iconbox-->
				</div><!--achievement-box-->
				<!-- Premios Internacionales -->
				<div class="achievement-box mb-3">
					<div class="tracker mb-4">
						<span class="number">7</span>
					</div>
					<div class="iconbox-content text-center">
						<i class="icon icon-trophy"></i>
						<h4>Premios Internacionales</h4>
					</div><!--iconbox-->
				</div><!--achievement-box-->
			</div><!--content-->
		</div>
	</div>
</section>

<section class="our-trainers pb-60">
	<h2 class="section-title text-center mb-4">Nuestros Entrenadores</h2>
	<div class="container">
		<div class="row">
			<!-- David Williams -->
			<div class="col-md-3 text-center">
				<figure>
					<a href="#"><img src="assets/images/david.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">David Williams</a></h4>
					<span class="designation colored-grey">Entrenador de Culturismo</span>
					<p>Conoce a nuestro dedicado entrenador de culturismo, David Williams. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<!-- Rosy Rivera -->
			<div class="col-md-3 text-center">
				<figure>
					<a href="#"><img src="assets/images/rosy.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Rosy Rivera</a></h4>
					<span class="designation colored-grey">Entrenadora de Culturismo</span>
					<p>Descubre la experiencia de entrenamiento con nuestra entrenadora Rosy Rivera. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<!-- Matt Stonie -->
			<div class="col-md-3 text-center">
				<figure>
					<a href="#"><img src="assets/images/matt.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Matt Stonie</a></h4>
					<span class="designation colored-grey">Entrenador de Culturismo</span>
					<p>Conoce a Matt Stonie, nuestro apasionado entrenador de culturismo. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
			<!-- Sofia Lauren -->
			<div class="col-md-3 text-center">
				<figure>
					<a href="#"><img src="assets/images/sofia.jpg" alt="post" class="teamImg"></a>
				</figure>
				<div class="text-content text-center mt-3 mb-3">
					<h4><a href="#">Sofia Lauren</a></h4>
					<span class="designation colored-grey">Entrenadora de Culturismo</span>
					<p>Únete a las sesiones de entrenamiento con Sofia Lauren. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="dark social-links">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div><!--text-content-->
			</div><!--col-md-3-->
		</div>

		<div class="pix_btn light text-center mt-3">
			<a href="#" class="hvr-shutter-in-horizontal mt-3">Ver Todos los Entrenadores</a>
		</div>
	</div>
</section>

<section class="membership padding-medium light front-dark">
	<div class="membership-wrapper padding-medium">
		<h2 class="section-title text-center mb-4">Membresía</h2>
		<div class="container">
			<div class="row">
				<div class="flex-container">
					<!-- Membresía Estándar -->
					<div class="membership-box mb-3">
						<div class="heading-box">
							<h3>Estándar</h3>
						</div>
						<div class="text-content">
							<div class="inclusion">
								<ul class="list-unstyled colored-alto">
									<li><i class="icon icon-check"></i>Incluye Membresía</li>
									<li><i class="icon icon-check"></i>Acceso a Todas las Instalaciones del Gimnasio</li>
									<li><i class="icon icon-close"></i>Plan de Dieta Incluido</li>
									<li><i class="icon icon-check"></i>Consejos de Salud y Fitness</li>
									<li><i class="icon icon-close"></i>Acceso al Gimnasio de Lunes a Viernes</li>
									<li><i class="icon icon-check"></i>Acceso Completo a Todo</li>
									<li><i class="icon icon-close"></i>No hay Servicios Adicionales</li>
								</ul>
							</div><!--inclusion-->
							<div class="meta-price">
								<p><sup>$</sup><strong>30</strong><em>/mes</em></p>
							</div>
							<div class="pix_btn">
								<a href="#" class="hvr-shutter-in-horizontal mt-3">Comprar Ahora</a>
							</div>
						</div><!--text-content-->
					</div><!--membership-box-->
					<!-- Membresía Ultimate -->
					<div class="membership-box mb-3">
						<div class="heading-box">
							<h3>Ultimate</h3>
						</div>
						<div class="text-content">
							<div class="inclusion">
								<ul class="list-unstyled colored-alto">
									<li><i class="icon icon-check"></i>Incluye Membresía</li>
									<li><i class="icon icon-check"></i>Acceso a Todas las Instalaciones del Gimnasio</li>
									<li><i class="icon icon-check"></i>Plan de Dieta Incluido</li>
									<li><i class="icon icon-check"></i>Consejos de Salud y Fitness</li>
									<li><i class="icon icon-check"></i>Acceso al Gimnasio de Lunes a Viernes</li>
									<li><i class="icon icon-check"></i>Acceso Completo a Todo</li>
									<li><i class="icon icon-check"></i>Sin Servicios Adicionales</li>
								</ul>
							</div><!--inclusion-->
							<div class="meta-price">
								<p><sup>$</sup><strong>45</strong><em>/mes</em></p>
							</div>
							<div class="pix_btn">
								<a href="#" class="hvr-shutter-in-horizontal mt-3">Comprar Ahora</a>
							</div>
						</div><!--text-content-->
					</div><!--membership-box-->
					<!-- Membresía Profesional -->
					<div class="membership-box mb-3">
						<div class="heading-box">
							<h3>Profesional</h3>
						</div>
						<div class="text-content">
							<div class="inclusion">
								<ul class="list-unstyled colored-alto">
									<li><i class="icon icon-check"></i>Incluye Membresía</li>
									<li><i class="icon icon-check"></i>Acceso a Todas las Instalaciones del Gimnasio</li>
									<li><i class="icon icon-check"></i>Plan de Dieta Incluido</li>
									<li><i class="icon icon-check"></i>Consejos de Salud y Fitness</li>
									<li><i class="icon icon-check"></i>Acceso al Gimnasio de Lunes a Viernes</li>
									<li><i class="icon icon-check"></i>Acceso Completo a Todo</li>
									<li><i class="icon icon-check"></i>Sin Servicios Adicionales</li>
								</ul>
							</div><!--inclusion-->
							<div class="meta-price">
								<p><sup>$</sup><strong>60</strong><em>/mes</em></p>
							</div>
							<div class="pix_btn">
								<a href="#" class="hvr-shutter-in-horizontal mt-3">Comprar Ahora</a>
							</div>
						</div><!--text-content-->
					</div><!--membership-box-->
				</div><!--col-md-12-->
			</div>
		</div>
	</div><!--membership-wrapper-->
</section>

<section class="bmi-calculator padding-small">
	<div class="section-header text-center p-30">
		<h2 class="section-title pb-4">Calculadora de IMC</h2>
	</div>
	<div class="container">
		<div class="row">

			<div class="calculator-wrap d-flex flex-wrap mb-4">
				<select class="btn-box mr-2 mb-2">
					<option value="Género">Género<i class="icon icon-angle-down" aria-hidden="true"></i></option>
					<option value="hombre">Hombre</option>
					<option value="mujer">Mujer</option>
				</select>
				<input type="text" name="height" placeholder="Tu Altura en Pies" class="btn-box mr-2 mb-2">
				<input type="text" name="weight" placeholder="Tu Peso en Libras" class="btn-box mr-2 mb-2">
				<div class="hvr-shutter-in-horizontal light text-center btn-box mr-2 mb-2"><a href="#">Calcular</a></div>
				<div class="hvr-shutter-in-horizontal light text-center btn-box mr-2 mb-2"><a href="#">Resetear</a></div>
				<input type="text" name="result" placeholder="Resultado aquí" class="btn-box">
			</div><!--calculator-wrap-->

			<div class="bodymassindex text-center">
				<h5>Índice de Masa Corporal</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<table class="index">
					<tr class="text-uppercase border-bottom">
						<th>IMC</th>
						<th>Clasificación</th>
					</tr>
					<tr>
						<td>18-25</td>
						<td>Peso Normal</td>
					</tr>
					<tr>
						<td>25-30</td>
						<td>Sobrepeso</td>
					</tr>
					<tr>
						<td>30-40</td>
						<td>Obesidad</td>
					</tr>
					<tr>
						<td>40 y más</td>
						<td>Obesidad Mórbida</td>
					</tr>
				</table>
			</div><!--bodymassindex-->

		</div>
	</div>
</section>

<section class="testimonials-wrap mt-3 mb-5">
	<div class="section-header text-center p-30">
		<h2 class="section-title pb-4">Nuestros Testimonios</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="testimonial-slider d-flex mb-6">

				<!-- Testimonio 1 -->
				<div class="col-md-4 testimonials-inner text-center">
					<figure>
						<img src="assets/images/lucy.jpg" alt="Lucy" class="authorImg img-circle">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="testimonial-author">
						<span class="name colored">Lucy Antony</span>
					</div>
				</div>

				<!-- Testimonio 2 -->
				<div class="col-md-4 testimonials-inner text-center">
					<figure>
						<img src="assets/images/michael.jpg" alt="Michael" class="authorImg img-circle">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="testimonial-author">
						<span class="name colored">Michael Smith</span>
					</div>
				</div>

				<!-- Testimonio 3 -->
				<div class="col-md-4 testimonials-inner text-center">
					<figure>
						<img src="assets/images/maria.jpg" alt="Maria" class="authorImg img-circle">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="testimonial-author">
						<span class="name colored">Maria Garcia</span>
					</div>
				</div>

				<!-- Testimonio 4 -->
				<div class="col-md-4 testimonials-inner text-center">
					<figure>
						<img src="assets/images/lucy.jpg" alt="Lucy" class="authorImg img-circle">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="testimonial-author">
						<span class="name colored">Jennie Rose</span>
					</div>
				</div>

				<!-- Testimonio 5 -->
				<div class="col-md-4 testimonials-inner text-center">
					<figure>
						<img src="assets/images/lucy.jpg" alt="Lucy" class="authorImg img-circle">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="testimonial-author">
						<span class="name colored">Jennie Rose</span>
					</div>
				</div>

			</div><!--testimonial-slider-->
		</div>
	</div>
</section>

<section class="latest-blogs bg-black padding-medium light">
	<h2 class="section-title text-center mb-5">Nuestro Blog</h2>
	<div class="container">
		<div class="row">
			<div class="post-slider d-flex">
				<!-- Entrada de blog 1 -->
				<div class="col-md-3 post-item">
					<figure>
						<img src="assets/images/postitem1.jpg" alt="blog1" class="blogImg">
					</figure>
					<div class="post-content pt-4">
						<span class="meta-date">Fecha de la publicación</span>
						<h3 class="post-title"><a href="single-blog.html">Mantén una Estructura Perfecta Después del Entrenamiento</a></h3>
					</div>
				</div><!--post-item-->
				<!-- Entrada de blog 2 -->
				<div class="col-md-3 post-item">
					<figure>
						<img src="assets/images/postitem2.jpg" alt="blog2" class="blogImg">
					</figure>
					<div class="post-content pt-4">
						<span class="meta-date">Fecha de la publicación</span>
						<h3 class="post-title"><a href="single-blog.html">Consejos para una Alimentación Saludable</a></h3>
					</div>
				</div><!--post-item-->
				<!-- Entrada de blog 3 -->
				<div class="col-md-3 post-item">
					<figure>
						<img src="assets/images/postitem3.jpg" alt="blog3" class="blogImg">
					</figure>
					<div class="post-content pt-4">
						<span class="meta-date">Fecha de la publicación</span>
						<h3 class="post-title"><a href="single-blog.html">Rutinas de Ejercicio Efectivas</a></h3>
					</div>
				</div><!--post-item-->
				<!-- Entrada de blog 4 -->
				<div class="col-md-3 post-item">
					<figure>
						<img src="assets/images/postitem4.jpg" alt="blog4" class="blogImg">
					</figure>
					<div class="post-content pt-4">
						<span class="meta-date">Fecha de la publicación</span>
						<h3 class="post-title"><a href="single-blog.html">Consejos para el Descanso y Recuperación</a></h3>
					</div>
				</div><!--post-item-->

			</div><!--post-slider-->
		</div>
		<div class="pix_btn light text-center mt-3">
			<a href="#" class="hvr-shutter-in-horizontal mt-3">Ver Todos</a>
		</div>
	</div>
</section>

<section class="association-with padding-medium bg-sand">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-title text-center mb-4">Nuestra Asociación</h2>
				<p class="text-center">Nos enorgullece estar asociados con algunas de las mejores marcas y organizaciones en la industria del fitness. Estas asociaciones nos permiten ofrecer servicios y productos de calidad a nuestros miembros.</p>
				<ul class="d-flex list-unstyled justify-content-between flex-wrap mt-4">
					<li><a href="#"><img src="assets/images/logo-marca1.png" class="brandImg" alt="Marca 1"></a></li>
					<li><a href="#"><img src="assets/images/logo-marca2.png" class="brandImg" alt="Marca 2"></a></li>
					<li><a href="#"><img src="assets/images/logo-marca3.png" class="brandImg" alt="Marca 3"></a></li>
					<li><a href="#"><img src="assets/images/logo-marca4.png" class="brandImg" alt="Marca 4"></a></li>
					<li><a href="#"><img src="assets/images/logo-marca5.png" class="brandImg" alt="Marca 5"></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
