@inherits LayoutComponentBase

@inject SweetAlertService swal;
@inject NavigationManager navManager;
@using System.Security.Claims;


<!DOCTYPE html>
<html>

<head>
	<title>FitPhysique - Free Fitness/Gym HTML CSS Template by TemplatesJungle.com</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<link rel="stylesheet" type="text/css" href="assets/fonts/icomoon/icomoon.css">


	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick-theme.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400;700&display=swap"
		rel="stylesheet">



</head>
<body class="overflow-x">
		<div id="body-wrapper">

<header id="header" class="bg-black">
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-expand-lg col-md-12 padding-small">
				<div class="nav-brand">
					<a href="index.html"><img src="assets/images/logo.png"></a>
				</div>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
						data-target="#slide-navbar-collapse" aria-controls="slide-navbar-collapse"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="icon icon-navicon"></i></span>
				</button>
				<div class="navbar-collapse collapse text-hover" id="slide-navbar-collapse">
					<ul class="navbar-nav list-inline light text-uppercase">
						<li class="nav-item active"><a href="index.html" class="navlink">home</a></li>
						<li class="nav-item"><a href="about.html">about us</a></li>
						<li class="nav-item"><a href="trainer.html">trainers</a></li>
						<li class="nav-item"><a href="#">class</a></li>
						<li class="nav-item"><a href="blog.html">blog</a></li>
						<li class="nav-item"><a href="contact.html">contact us</a></li>
						<li class="dropdown">
							<a class="dropbtn">Pages <iconify-icon icon="iconamoon:arrow-down-2-fill"></iconify-icon> </a>

							<div class="dropdown-content">
								<a href="about.html" class="drop-item">about <span class="badge badge-secondary">pro</span></a>
								<a href="blog.html" class="drop-item">blog <span class="badge badge-secondary">pro</span></a>
								<a href="single-post.html" class="drop-item">Single Post <span class="badge badge-secondary">pro</span></a>
								<a href="class.html" class="drop-item">Class <span class="badge badge-secondary">pro</span></a>
								<a href="class-detail.html" class="drop-item">Class detail <span class="badge badge-secondary">pro</span></a>
								<a href="trainer.html" class="drop-item">Trainers <span class="badge badge-secondary">pro</span></a>
								<a href="contact.html" class="drop-item">contact <span class="badge badge-secondary">pro</span></a>
								<a href="price.html" class="drop-item">Price Plan <span class="badge badge-secondary">pro</span></a>
								<a href="faq.html" class="drop-item">FAQs <span class="badge badge-secondary">pro</span></a>
								<a href="review.html" class="drop-item">Review <span class="badge badge-secondary">pro</span></a>
							</div>
						</li>
						<li class="nav-item"><a href="https://templatesjungle.gumroad.com/l/fitphysique-free-responsive-html-template" target="_blank" style="color:#d4000d ;">GET PRO</a></li>
					</ul>
				</div><!--navbar-collapse-->
				<div class="action-menu">
					<div class="searchbar">
						<a href="#" class="search-button search-toggle" data-selector=".navbar">
							<i class="icon icon-search"></i>
						</a>
						<form role="search" method="get" class="search-box" action="">
							<input class="search-field text search-input" placeholder="Search" type="search">
						</form>
					</div>
					<div class="shopping-cart">
								<a href="page/login">
									<i class="icon icon-signin"></i>
						</a>
					</div>
				</div><!--action-menu-->
			</nav>
		</div>
	</div>
</header>
	@Body

	</div><!--body-wrapper-->
	<footer id="footer" class="bg-black">
		<div class="container">
			<div class="row">
				<div class="wrap flex-container">

					<div class="col-md-3 light mb-5">
						<div class="row">
							<img src="assets/images/logo.png" class="mb-3">
							<p>Fitphysical Pvt Ltd is for build and fitness body sed do eiusmod,adipisicing elit</p>
							<div class="address">
								<ul class="list-unstyled">
									<li>
										<i class="icon icon-map-marker colored"></i>Lincoln Park Chicago, Illinois
									</li>
									<li><i class="icon icon-phone colored"></i>(510) 710-3464 (510) 640-6326</li>
									<li>
										<i class="icon icon-envelope colored"></i>
										<div class="mail-address">
											<a href="#" class="pr-10">hello@templatesjungle.com</a>
											<a href="#">info@templatesjungle.com</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-3 recent-post mb-5">
						<h4 class="widget-title mb-3">recent blog posts</h4>
						<div class="widget-content">
							<ul class="light">
								<li class="border-bottom pb-10 mb-3">
									<h5>
										<a href="">How to Be Motivated For All Exercise</a>
									</h5>
									<span class="meta-date">September 21,2020</span>
								</li>
								<li class="border-bottom pb-10 mb-3">
									<h5>
										<a href="">How to Be Motivated For All Exercise</a>
									</h5>
									<span class="meta-date">September 21,2020</span>
								</li>
								<li>
									<h5>
										<a href="">How to Be Motivated For All Exercise</a>
									</h5>
									<span class="meta-date">September 21,2020</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 widget-gallery mb-5">
						<div class="row">
							<h4 class="widget-title mb-3">gallery</h4>
							<div class="widget-content">
								<ul class="d-flex d-flex-flow">
									<li class="mb-2 mr-2">
										<a href="#"><img src="assets/images/david.jpg" alt="gym" class="sgalleryImg"></a>
									</li>
									<li class="mb-2 mr-2">
										<a href="#"><img src="assets/images/rosy.jpg" alt="gym" class="sgalleryImg"></a>
									</li>
									<li class="mb-2">
										<a href="#"><img src="assets/images/sofia.jpg" alt="gym" class="sgalleryImg"></a>
									</li>
									<li class="mb-2 mr-2">
										<a href="#"><img src="assets/images/matt.jpg" alt="gym" class="sgalleryImg"></a>
									</li>
									<li class="mb-2 mr-2">
										<a href="#">
											<img src="assets/images/postitem2.jpg" alt="gym"
												 class="sgalleryImg">
										</a>
									</li>
									<li class="mb-2">
										<a href="#">
											<img src="assets/images/postitem3.jpg" alt="gym"
												 class="sgalleryImg">
										</a>
									</li>
									<li class="mb-2 mr-2">
										<a href="#">
											<img src="assets/images/postitem4.jpg" alt="gym"
												 class="sgalleryImg">
										</a>
									</li>
									<li class="mb-2 mr-2">
										<a href="#">
											<img src="assets/images/postitem1.jpg" alt="gym"
												 class="sgalleryImg">
										</a>
									</li>
								</ul>

							</div>
						</div>
					</div>

					<div class="col-md-3 widget-newsletter">
						<div class="row">
							<h4 class="widget-title">Newsletter</h4>
							<div class="widget-content light">
								<p>
									By subscribing us you will get discount offers and our tips for your fitness for
									good results.
								</p>
								<div class="newsletter-button d-flex align-items-center light">
									<input type="text" name="Subscribe" placeholder="Your Email Address">
									<button class="hvr-shutter-in-horizontal m-0">Send</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</footer>

	<div class="footer-bottom bg-black padding-small">
		<div class="container">
			<div class="row">
				<div class="wrap flex-container">
					<div class="copyright">
						<p class="mb-0">
							© Copyright 2022 FitPhysique. Free Template by <a href="https://templatesjungle.com" target="_blank">TemplatesJungle</a>.
						</p>
					</div>
					<div class="social-links mt-3">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>